{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Upload Data</h6>
            </div>
            <div class="card-body">
              <p>File yang dapat diupload hanya file berformat csv dengan kolom "Teks".</p>

              <form enctype="multipart/form-data" method="POST" action="upload-data-testing">
                <input type="file" name="file">
                <div class="mt-3">
                    <button type="submit" name="" value="upload csv" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>

          <div class="row d-flex justify-content-center align-content-center">
            <div class="col-xl-6 col-md-6 mb-4">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Data Testing</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                            <th>No</th>
                            <th>Teks</th>
                            <th>Hasil Klasifikasi</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for row in data %}
                          <tr>
                              <td>{{ loop.index }}</td>
                              <td>{{ row.teks }}</td>
                              <td>{{ row.hasil_klasifikasi }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}

{% block js %}
    {{ super() }}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Data yang akan digunakan untuk grafik
        var data = {
            labels: ['Kebencian', 'Non Kebencian'],
            datasets: [{
                label: 'Jumlah Data',
                data: [{{ countKebencian }}, {{ countNonKebencian }}],
                backgroundColor: ['red', 'green'],
                borderWidth: 1,
            }]
        };

        // Konfigurasi grafik
        var options = {
            responsive: true,
            maintainAspectRatio: false,
        };

        // Menggambar grafik
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar', // Jenis grafik
            data: data,
            options: options,
        });
    </script>
{% endblock %}